
/* media Q */


@media only screen and (max-width: 1200px){
    .course {
        width: 250px;
    }
   
}
@media only screen and (max-width: 835px){
    .container{
        height: 900px;
        
    }
  
    .try-about{
        height:600px;
    }
    .try-place{
        height: 1300px;
    }
    .try-contact{
        height: 650px;
    }
    .try-vision{
        height: 86px;
    }
    .try-mission{
        height: 86px;
    }
    .try-resf{
        height: 200px;
    }
    .try-resc{
        height: 2750px;
    }
   
   
    .container2{
        height: 900px;
        flex-wrap: wrap; 
      /*  position: relative;
    bottom: 108px;*/
        justify-content: center;
    }
    .container2 img{
        width: 100%;
        border-radius: 20px;
        margin-right: 20px;
        height: 280px;
     /*   position: relative;
        top: 140px;*//*

    }
    
    .container3{
        height: 500px;
      /*  position: relative;
    bottom: 270px;*/
}
    
    ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background:rgba(0, 0, 0, 0.7);
        width: 100%; 
        
      
    }

  
  
    .item-res{
     opacity: 0;
    
       
    }
    
    .hamburger{
        display: block;
    }
  
    .navbar{
        display: flex;
       flex-direction: column;
       align-items: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        
}
.navbar-res{
    height: 440px;
}
.v-res1{
    height:70px ;
}

.v-res2{
  display: none;
  height: 0px
}

.course {
    width: 250px;
}


.third img{
        width: 100%;
}
}
@media only screen and (max-width: 750px){
    .company img {
        width: 60px;
        height: 60px;
    }
    .contact input{
        width: 300px;

    }
    .contact textarea{
        width: 300px;
    }

  
    .container2{
        height: 1000px;
        flex-wrap: wrap; 
       
        justify-content: center;
    }
    .container2 img{
        width: 100%;
        border-radius: 20px;
        margin-right: 20px;
        height: 280px;
        margin:auto;
       
    }
    .res{
        height: 600px;
    }
    .container3{
        height: 400px;
    padding-top: 20px;
}
#head-rs{
}


}

@media only screen and (max-width: 595px){

    .res{
        height: 650px;
    }
    .container3{
        height: 550px;
    padding-top: 20px;
}
.try-place{
    height: 1000px;
}


}
@media only screen and (max-width: 495px){
    .container3{
        height: 550px;
    }
    .container2{
        height: 700px;
    }
    .res{
        height: 700px;
    }
    .contact input{
        width: 250px;

    }
    .contact textarea{
        width: 250px;
    }
    .secondsection{
        margin: 30px 30px;
        display: grid;
        grid-template-columns:   repeat(auto-fit, minmax(200px, 1fr ));
        grid-gap: 30px;
        grid-row-gap:20px;
         
    }
    
.course {
    width: 150px;
}
.firstsection{
    height: 660px;
   padding: 0px 30px 0px 30px;
}
}

@media only screen and (max-width: 426px){
    .container3{
        height: 600px;
    }
    .container2{
        height: 650px;
    }
    .res{
        height: 750px;
    }

}

@media only screen and (max-width: 400px){
    .container3{
        height: 650px;
    }
    .container2{
        height: 700px;
    }
    .res{
        height: 850px;
    }
    .try-place{
        height: 1200px;
    }

}
    

@media only screen and (max-width: 365px){
    p{
        10px;
    }
    h1{
        15px;
    }
    .course {
        width: 110px;
        height: 50%;
        
    }
    .container3 p {
        margin: 0 10px;
    }
    .container2 p{
        margin: 0 10px;
         
    }
    .first-sub-s h1{
        margin: 10px;
        font-size: 12px;
    
    }
    .first-sub-s p{
        margin: 10px;
        font-size: 8px;
        text-align: justify;
    }
    .container {
        height: 900px;
    }
    .container3 {
        height: 750px;
    }
    .first-sub-s{
        height: 200px;
    }
    
    .try-resc{
        height: 1550px;
    }
    
}
@media only screen and (max-width: 365px){

    .container {
        height: 1000px;
    }
    .container3 {
        height: 800px;
    }
    .first-sub-s{
        height: 200px;
    }
    
    .try-resc{
        height: 1550px;

    }
    .res{
        height: 900px;
    }
    .res2{
        height: 1200px;
        height: 900px;
    }
}